@font-face {
  font-family: "Anton";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../node_modules/@fontsource/anton/files/anton-latin-400-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Big Shoulders Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("../../node_modules/@fontsource-variable/big-shoulders/files/big-shoulders-latin-wght-normal.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Bricolage Grotesque Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  src: url("../../node_modules/@fontsource-variable/bricolage-grotesque/files/bricolage-grotesque-latin-wght-normal.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../node_modules/@fontsource/dm-serif-display/files/dm-serif-display-latin-400-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Fredoka";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../../node_modules/@fontsource/fredoka/files/fredoka-latin-700-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../node_modules/@fontsource/manrope/files/manrope-latin-400-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../../node_modules/@fontsource/manrope/files/manrope-latin-600-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../../node_modules/@fontsource/manrope/files/manrope-latin-700-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("../../node_modules/@fontsource/manrope/files/manrope-latin-800-normal.woff2")
    format("woff2");
}
